body {
    font-family: Arial;
    padding: 10px;
  }

  .col-md-6 {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

  #leftcolumn {
    background: #E7B2B2;
  }

  .logo{
    position: fixed;
    top: 20%;
  }
 
  #rightcolumn{
    background: #EFEDE1;
  }

  .navbar{
    background-color: #EFEDE1 !important;
    position: sticky;
    top: 0px;
  }

  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: #FFF9EC;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
